@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

*{
    box-sizing: border-box;
    
}

body{
    margin: 0;
    background-color: #0f3e94;
     font-family: "Poppins", sans-serif;
}

header{
    background-color: #0c324d;
    padding: 1rem;
    display: flex;
    justify-content: flex-end;
}

.search {
padding: 0.5rem 1rem;
border-radius: 50px;
border: 2px solid #22254b;
background-color: transparent;
font-family: inherit;
color: #eee;
font-size: 1rem;
}

.search::placeholder{
    color: #2e9fd8;
}

.search:focus{
    outline: none;
    background-color: #05082c;
}


main{
    display: flex;
    flex-wrap: wrap;
}


/* ye baad me dekhte hai */

.movie{
    box-shadow: 0 4px 5px rgba(0,0,0,0.2);
    border-radius: 3px;
    width: 300px;
    background-color: #41a6b6;
    /* margin: 1rem; */
    margin-left: 55px;
    margin-top: 20px;
    padding: 10px;
    overflow: hidden;
    position: relative;

}

.movie img{
 width: 100%;
   
}

.movie-info{
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 1rem 1rem;
    color: #eee;
    letter-spacing: 0.5px;
    align-items: center;
}

.movie-info h3{
    margin: 0;
}

.movie-info span{
    background-color: #22254b;
    padding: 0.25rem 0.5rem;
    border-radius: 3px;
    font-weight: bold;
}

.movie-info span.green{
    color: rgb(46, 194, 46);
}
.movie-info span.orange{
 color: orange;
}
.movie-info span.red{
    color: red;

}

.overview{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #fff;
    padding: 2rem;
    transform: translateY(100%);
    transition: transform 1s ease-in;
    max-width: 100%;
    overflow: auto;



}

.movie:hover .overview{
    transform: translateY(0);

}

.overview h4{
    margin-top: 0;
}